# Ignore arquivos e pastas do Visual Studio
.vs/
*.suo
*.user

# Pastas de build
bin/
obj/

# Arquivos gerados automaticamente
*.exe
*.pdb
*.cache
*.dtbcache.json

# Outros temporários
*.dbmdl
*.log
*.tmp
